.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 120px;
  border: 2px solid #212529;
}

.theme {
  &-primary {
    background-color: #f8f9fa;
    color: #212529;
  }
  &-secondary {
    background-color: #212529;
    color: #f8f9fa;
  }
}
